select {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Two-column layout */
.col {
  /*float: left;*/
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* background image and styling with height and padding*/
.WeatheMain{
  background-image: url("img/bg.jpg");
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  padding:30px 20px;
  min-height:700px;
}

/* heading h1 style*/
.WeatheMain h1{
  color:#ffffff;
  padding-bottom:30px;
  text-align:center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  padding-bottom: 70px;
}

/* margin adjustment left 10pixel*/
.margin-left-10{
  margin-left: 10px;
}

/* div style with bg color and padding*/
.WeatheMain .WhatherForm{
  background-color:#FFFFFF;
  opacity:0.9;
  padding:40px 20px;
}
/* for padding */
.WeatheMain .WeatherShow{
  padding:40px 20px;
}
/* bg image and positioning */
.WeatheMain .WeatherShow .WeatheArea{
  background-image: url("img/bg-02.jpg");
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  padding:40px 60px;
  color:#ffffff;
}
/* padding for h5 only*/
.WeatheMain .WeatherShow .WeatheArea h5{
  padding-top:10px;
}
/* style for span */
.WeatheMain .WeatherShow .WeatheArea span{
  font-size:17px;
  padding-left:10px;
}

/* right alignment*/
.WeatheMain .WeatherShow .WeatheArea .Temp2{
  float:right;
}
/* margin spacing top*/
.WeatheMain .WeatherShow .WeatheArea .alert{
 margin-top:20px;
}
 
/* media queries mainly used for responsive disply of the elements with diiferent screens. 
it uses the @media rule to include a block of CSS properties only if a certain condition is true*/
@media (min-width: 666px) and (max-width: 1280px) {

.WeatheMain{
  padding:200px 60px;
  height:1500px;
}
}

@media (min-width: 320px) and (max-width: 660px) {
.WeatheMain .WeatherShow .WeatheArea{
  background-image: url("img/bg-03.png");
  padding:40px 20px;
  color:#ffffff;
}
.WeatheMain .WeatherShow .WeatheArea h5{
 font-size:15px;
}
.WeatheMain .WeatherShow .WeatheArea span{
  font-size:12px;
}
.WeatheMain .WeatherShow .WeatheArea .Temp2{
  float:none;
}
.WeatheMain .WeatherShow .WeatheArea .alert{
font-size:13px;
}
}
.iconimage{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}